.display_qty{
       background:rgb(50, 168, 104);;
       position:absolute;
       top:0;
       left:0;
       width:30px;
       height:20px;
       border-radius: 3px;
       text-align:center;
       font-weight: bold;
       font-size: 14px;
       color:white;
}
.not-available{
     background: rgb(239, 83, 80);
}